@import "../abstracts/variables";
@import "../abstracts/mixins";

/* Reusable Page Container for all pages */
.page-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10vh 5vw;
    background-color: rgba($charcoal-extra-light, 0.1);
    min-height: 100vh;
    margin-left: 0; // Remove static margin by default
    margin-top: 7vh;
    box-sizing: border-box;
    width: 100%; // Full width when sidebar is hidden
    overflow-x: hidden;
    transition: margin-left 0.3s ease, width 0.3s ease; // Smooth transition

    &.sidebar-open {
        margin-left: 15vw; // Add margin-left when sidebar is open
        width: calc(100% - 15vw); // Adjust the width accordingly
    }

    @media (max-width: 1200px) {
        &.sidebar-open {
            margin-left: 12vw;
            width: calc(100% - 12vw); // Adjust width and margin for smaller screens
        }
    }

    @media (max-width: 768px) {
        margin-left: 0; // No margin for smaller screens
        padding: 10vh 2vw; // Adjust padding for smaller screens
        width: 100%; // Full width for small devices
    }
}
