// Footer Styles
.footer {
    background-color: $primary-bg-color;
    border-top: 1px solid $border-color;
    box-shadow: $box-shadow-strong;
    color: $primary-text-color;
    margin-top: $spacing-xxl2;
    padding: $spacing-lg;
    position: relative;
    z-index: map.get($z-indices, modal) + 1; // Ensure higher z-index

    .footer__content {
        @include flex-center;

        flex-direction: column;
        gap: $spacing-lg;
        padding: $spacing-md;

        @include respond-to(md) {
            flex-direction: column;
        }
    }

    .footer__links {
        @include flex-center;

        gap: $spacing-md;

        a {
            color: $primary-text-color;
            font-size: $body-font-size;
            text-decoration: none;
            transition: color $transitions-base;

            &:hover {
                color: $highlight-color;
                text-decoration: underline;
            }
        }
    }

    .footer__social {
        @include flex-center;

        gap: $spacing-md;

        a {
            color: $primary-text-color;
            font-size: $heading-font-size-md;
            transition: color $transitions-base;

            &:hover {
                color: $highlight-color;
            }
        }
    }

    .footer__copy {
        color: $secondary-text-color;
        font-size: $small-font-size;
        margin-top: $spacing-md;
        text-align: center;
    }
}

@media (max-width: $breakpoint-md) {
    .footer {
        padding: $spacing-md;
    }
}
