// Box Shadows
$box-shadow-light: 0 4px 8px rgba(0, 0, 0, 0.1);
$box-shadow-medium: 0 6px 12px rgba(0, 0, 0, 0.15);
$box-shadow-heavy: 0 8px 16px rgba(0, 0, 0, 0.2);
$box-shadow-focus: 0 6px 12px $primary-purple;
