@import "../abstracts/variables"; // Import global variables

/* Font Faces */
@font-face {
   font-family: "JetBrains Mono";
   src:
      url("/assets/fonts/webfonts/JetBrainsMono-Regular.woff2") format("woff2"),
      url("/assets/fonts/webfonts/JetBrainsMono-Regular.woff") format("woff");
   font-weight: 400 700; // Support normal and bold
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Inter";
   src:
      url("/assets/fonts/webfonts/Inter-Regular.woff2") format("woff2"),
      url("/assets/fonts/webfonts/Inter-Regular.woff") format("woff");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

/* Headings */
.heading-large {
   @include font-default;
   font-size: clamp(2.5rem, 5vw, 3rem);
   @include font-bold;
   color: $charcoal;
   line-height: 1.2;
   margin-bottom: 2rem;
}

.heading-medium {
   @include font-default;
   font-size: clamp(2rem, 4vw, 2.25rem);
   @include font-bold;
   color: $charcoal;
   line-height: 1.25;
   margin-bottom: 1.75rem;
}

.heading-small {
   @include font-default;
   font-size: clamp(1.5rem, 3vw, 1.875rem);
   @include font-bold;
   color: $charcoal;
   line-height: 1.3;
   margin-bottom: 1.5rem;
}

/* Paragraphs */
.paragraph {
   @include font-content;
   font-size: clamp(1rem, 2vw, 1rem);
   line-height: 1.6;
   margin-bottom: 1.75rem;
}
