// base/_typography.scss

@import "../abstracts/variables"; // Global variables
@import "../abstracts/mixins"; // Mixins for typography

/* Font Faces */
@font-face {
   font-family: "JetBrains Mono";
   src:
      url("/assets/fonts/webfonts/JetBrainsMono-Regular.woff2") format("woff2"),
      url("/assets/fonts/webfonts/JetBrainsMono-Regular.woff") format("woff");
   font-weight: 400 700;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Anton";
   src:
      url("/assets/fonts/webfonts/Anton-Regular.woff2") format("woff2"),
      url("/assets/fonts/webfonts/Anton-Regular.woff") format("woff");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

/* General Text Styles */
body {
   @include font-default($font-size-base, $font-weight-regular, $font-primary);
   line-height: 1.6;
   color: $charcoal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   line-height: 1.2;
   margin: 0 0 0 0;
}


/* Headings */
.heading-large {
   @include font-default($font-size-large, $font-weight-bold);
   margin-bottom: $spacing-l;
}

.heading-medium {
   @include font-default($font-size-medium, $font-weight-bold);
   margin-bottom: $spacing-m;
}

.heading-small {
   @include font-default($font-size-small, $font-weight-bold);
   margin-bottom: $spacing-s;
}

/* Paragraph Styles */
.paragraph {
   @include font-default($font-size-base, $font-weight-regular);
   line-height: 1.6;
   margin-bottom: $spacing-m;
}

/* Link Styles */
a {
   color: $primary-purple;
   text-decoration: none;
   transition: color 0.3s ease;

   &:hover {
      color: $primary-purple-hover;
   }
}

/* List Styles */
ul,
ol {
   margin: 0;
   padding: 0 0 0 $spacing-l;
   list-style: disc;
}

li {
   margin-bottom: $spacing-s;
   font-size: $font-size-base;
   color: $charcoal;
}
