//explore-links.scss

.info-and-explore-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 7rem;
    // margin-top: $spacing-lg;

    .page-info-message {
        text-align: left;
        width: 100%;
        margin-top: $spacing-xxl;

        &.profile-info {
            display: flex;
            align-items: center;
            gap: $spacing-xxl;
            margin-left: 5rem;

            .profile-avatar {
                width: 20vw;
                height: 20vw;
                border-radius: 50%;
                overflow: hidden;


                .profile-image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .profile-user-name {
                font-size: $heading-font-size-xxlg;
                color: $primary-text-color;
                font-weight: 800;
            }
        }

        .page-title {
            font-size: $heading-font-size-xxlg;
            font-weight: bold;
            color: $primary-text-color;
            margin: 0;
            margin-left: 5rem;
        }

        .page-subtitle {
            font-size: $sub-heading-font-size;
            color: $secondary-text-color;
            margin-top: $spacing-sm;
            margin-left: 5rem;
        }
    }

    .explore-links {
        display: flex;
        justify-content: flex-start;
        gap: $spacing-md;
        margin-top: $spacing-sm;
        padding-top: $spacing-sm;
        margin-left: 5rem;

        .explore-link {
            font-size: $small-font-size;
            font-weight: 600;
            color: $primary-text-color;
            text-decoration: none;

            &:hover {
                color: $accent-color-1;
            }
        }
    }
}
@media (max-width: $breakpoint-md) {
    .navbar {
        padding: $spacing-sm $spacing-md;

        .navbar-right {
            gap: 0.5rem;
        }
    }

    .info-and-explore-container {
        margin-left: 2rem;

        .page-info-message {
            &.profile-info {
                margin-left: 2rem;
                .profile-avatar {
                    width: 40px;
                    height: 40px;
                }

                .profile-user-name {
                    font-size: $small-font-size;
                }
            }

            .page-title,
            .page-subtitle {
                margin-left: 2rem;
            }
        }

        .explore-links {
            flex-wrap: wrap;
            gap: $spacing-sm;
            padding: $spacing-xs $spacing-sm;
            margin-left: 2rem;
        }
    }
}
