// _hamburger-menu.scss

.hamburger-icon {
    @include flex-center;

    background: none;
    border: none;
    cursor: pointer;
    flex-direction: column;
    height: px-to-rem(18); // 18px
    justify-content: end;
    margin-left: $spacing-xxs; // 0.5rem
    padding: 0;
    position: relative;
    width: px-to-rem(24); // 24px
    z-index: 2000;

    .line {
        align-self: start;
        background-color: $primary-text-color;
        height: px-to-rem(2); // 2px
        transition: all 0.3s ease;

        &:first-child {
            margin-bottom: px-to-rem(4); // 4px
            width: px-to-rem(24); // 24px
        }

        &:last-child {
            width: px-to-rem(17); // 18px
        }
    }

    &:hover .line {
        background-color: $accent-color-1;
    }
}