// navbar.scss

.nav-header {
    background-color: $primary-bg-color;
    border-radius: 0 0 px-to-rem(80);
    border-right: 0.1rem solid $border-color;
    height: px-to-rem(500);
    margin-right: px-to-rem(32); // 2rem
    padding-bottom: px-to-rem(160); // 10rem
    padding-inline: $navbar-padding;
    position: fixed;
    position: relative;
}

.navbar {
    @include flex-center;

    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: px-to-rem(1200); // 1200px
}

.navbar-left {
    @include flex-center;

    gap: $spacing-md; // 1rem
    position: relative;
    right: px-to-rem(100); // 2rem
}

@media (max-width: $breakpoint-md) {
    .navbar {
        padding: $spacing-sm $spacing-md;
    }
}
