// _navbar-header.scss

.nav-header {
    position: fixed;
    background-color: $primary-bg-color;
    padding-bottom: px-to-rem(160); // 10rem
    padding-inline: $navbar-padding;
    margin-right: px-to-rem(32); // 2rem
    position: relative;
    border-radius: 0 0 px-to-rem(80) 0;
    height: px-to-rem(500);
    border-right: 0.1rem solid $border-color;
}

.navbar {
    @include flex-center;
    // display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: px-to-rem(1200); // 1200px
    margin: 0 auto;
}


