// _navbar-right.scss

.navbar-right {
    @include flex-center;
    align-items: center;
    gap: $spacing-sm; // 1rem

    .create-post-icon,
    .search-icon,
    .user-icon {
        font-size: px-to-rem(19.2); // 1.2rem
        color: $primary-text-color;
        background: none;
        border: none;
        cursor: pointer;
        padding: $spacing-xs; // 0.25rem
        transition: color $transitions-base;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            color: $accent-color-1;
        }
    }

    .user-icon {
        position: relative;
    }
}
