// _navbar-header.scss

.nav-header {
    position: fixed;
    background-color: $primary-bg-color;
    padding-bottom: 10rem;
    padding-inline: $navbar-padding;
    margin-right: 2rem;
    position: relative;
    border-radius: 0 0 5rem 0;
    height:70vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}


