// page-info.scss

.info-and-explore-container {
    @include flex-center;
    flex-direction: column;
    align-items: flex-start;
    margin-left: px-to-rem(128); // 8rem

    .page-info-message {
        text-align: left;
        width: 100%;
        margin-top: $spacing-xxl;

        .page-title {
            @include heading-style($heading-font-size-xxlg);
            font-weight: bold;
            color: $primary-text-color;
            margin: 0;
            margin-left: $spacing-xs;
            padding-inline: px-to-rem(50); // 12.5rem
        }

        .page-subtitle {
            font-size: clamp(1rem, 2.5vw, 1.5rem); // Responsive subtitle size
            color: $secondary-text-color;
            margin-top: $spacing-sm;
            margin-left: px-to-rem(50);
            font-style: italic;
        }
    }

    .explore-links {
        @include flex-center;
        justify-content: flex-start;
        gap: $spacing-md;
        margin-top: $spacing-xxs;
        padding-top: $spacing-xxs;
        margin-left: px-to-rem(50); // 15rem

        .explore-link {
            font-size: $small-font-size;
            font-weight: 600;
            color: $primary-text-color;
            text-decoration: none;

            &:hover {
                color: $accent-color-1;
            }
        }
    }
}

@media (max-width: $breakpoint-md) {
    .info-and-explore-container {
        margin-left: $spacing-sm;

        .page-info-message {
            .page-title,
            .page-subtitle {
                font-size: $heading-font-size-md;
                margin-left: $spacing-sm;
            }
        }

        .explore-links {
            flex-wrap: wrap;
            gap: $spacing-sm;
            padding: $spacing-xs $spacing-sm;
            margin-left: $spacing-sm;
        }
    }
}

/* Blog Page Specific Styling */
.page-info-message.blog-page-info .page-title {
    /* Styles specific to blog page titles */
    font-size: $heading-font-size-xxlg;
    color: #333;
    margin-top:5rem;
}

.page-info-message.blog-page-info .blog-subtitle {
    /* Styles specific to blog page subtitles (author and date) */
    color: #777;
    margin-top: 0.3rem;
    font-style: italic;
}