/* sidebar.scss */

.custom-sidebar {
    background: transparent;
    height: 35vh;
    left: 0;
    opacity: 0;
    padding-inline: $spacing-md;
    position: fixed;
    top: 5rem;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    width: $sidebar-width;

    &--open {
        animation: slide-in-from-top 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
        opacity: 1;
        transform: translateY(0);
    }

    &:not(&--open) {
        animation: slide-out-to-top 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
        transform: translateY(-100%);
    }

    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }

    &__nav {
        align-items: center; // Center links horizontally
        display: flex;
        flex-direction: column;
        gap: $spacing-lg;
        margin-top: $spacing-lg;

        .custom-sidebar__link {
            color: $primary-text-color;
            font-size: $body-font-size;
            font-weight: 500;
            padding: $spacing-sm 0;
            text-align: center; // Ensure text is centered
            text-decoration: none;
            transition: color $transitions-base;

            &:hover {
                color: $accent-color-1;
            }

            &.active {
                color: $secondary-text-color;
                font-weight: bold;
            }
        }
    }

    &__account-options {
        align-items: center; // Center buttons horizontally
        display: flex;
        flex-direction: column;
        gap: $spacing-md;
        padding-bottom: $spacing-lg;
    }

    &__button {
        align-items: center;
        border-radius: $button-border-radius;
        display: flex;
        gap: $spacing-sm;
        justify-content: center; // Center content within buttons
        max-width: 200px; // Optional: set a max width
        padding: $spacing-sm;
        transition: all 0.2s ease;
        width: 80%; // Reduce width for better centering

        &--edit {
            background-color: transparent;
            color: $primary-text-color;

            &:hover {
                background-color: fade-color($accent-color-2, 0.1);
            }
        }

        &--delete {
            background-color: transparent;
            color: $error-color;

            &:hover {
                background-color: fade-color($error-color, 0.05);
            }

            .custom-sidebar__icon {
                margin-right: $spacing-xs;
            }
        }
    }
}

// Responsive adjustments
@media (max-width: $breakpoint-md) {
    .custom-sidebar {
        width: 80%;
    }
}
