.user-dropdown-portal {
    align-items: flex-start;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    left: 0;
    padding: $spacing-md;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: get-z-index(modal);

    .user-dropdown {
        background-color: $secondary-bg-color;
        border-radius: $border-radius;
        box-shadow: $box-shadow-medium;
        min-width: 280px;
        overflow: hidden;
        pointer-events: auto;
        position: relative;
        right: 2rem;
        top: 3rem;
        width: 25%;
    }
}

.user-dropdown__content {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    padding: $spacing-lg;
}

.user-info {
    align-items: center;
    border-bottom: 1px solid $border-color;
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    padding-bottom: $spacing-md;
}

.user-avatar {
    align-items: center;
    background-color: $accent-color-1;
    border-radius: 50%;
    box-shadow: $box-shadow-small;
    display: flex;
    height: 80px;
    justify-content: center;
    overflow: hidden;
    width: 80px;
}

.user-avatar__image {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.initials-avatar {
    color: $secondary-bg-color;
    font-size: $heading-font-size-lg;
    text-transform: uppercase;
}

.user-details {
    width: 100%;
}

.detail-item {
    align-items: center;
    color: $primary-text-color;
    cursor: pointer;
    display: flex;
    gap: $spacing-sm;
    padding: $spacing-xs 0;
    transition: color $transitions-base;
}

.detail-item__icon {
    color: $highlight-color;
    font-size: $sub-heading-font-size;
}

.detail-item__text {
    font-size: $body-font-size;
}

.detail-item:hover {
    color: $highlight-color;
}

.detail-item:hover .detail-item__icon--hover {
    color: color.adjust($highlight-color, $lightness: -10%);
}

.dropdown-actions {
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
    padding-top: $spacing-md;

    .dropdown-actions__button {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: $breakpoint-md) {
    .user-dropdown-portal {
        align-items: center;
        justify-content: center;
        padding: $spacing-sm;
    }

    .user-dropdown {
        max-width: 400px;
        min-width: 90%;
    }

    .user-dropdown__content {
        padding: $spacing-md;
    }

    .user-avatar {
        height: 70px;
        width: 70px;
    }

    .detail-item {
        justify-content: center;
    }

    .dropdown-actions {
        flex-direction: row;
        justify-content: space-around;
    }
}