// src/components/BlogCard.scss

.blog-post-card {
    @include card-style;
    padding: spacing(0.85);
    overflow: hidden;
    cursor: pointer;
    transition: transform $transitions-base;
    display: flex;
    flex-direction: column;
    height: 100%;

    &:hover {
        transform: translateY(-4px);
        box-shadow: $box-shadow-strong;
    }

    &__image-container {
        width: 100%;
        height: 25vh;
        overflow: hidden;
        border-radius: $border-radius;

        &__cover-image,
        &__cover-placeholder {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &__cover-placeholder {
            @include flex-center;
            background-color: $accent-color-1;
            color: $secondary-text-color;
            font-size: $body-font-size;
        }
    }

    &__content {
        padding-inline: spacing(0.5);
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-between;

        &__header {
            @include flex-start;
            justify-content: space-between;
            color: $secondary-text-color;
            margin-top: spacing(1);

            &__author-name {
                font-weight: bold;
                color: $primary-text-color;
            }

            &__post-date {
                font-size: $small-font-size;
                color: $secondary-text-color;
            }
        }

        &__title-category {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: spacing(1) 0 spacing(0.5) 0;
            min-height: px-to-rem(60);
            padding-top: spacing(1);

            &__title {
                flex: none;
                font-family: $font-family-heading;
                margin: 0 0 spacing(0.5) 0;
                color: $primary-text-color;
                width: 100%;
                line-height: 1.2;
                display: -webkit-box;
                line-clamp: 2;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

            &__category {
                display: flex;
                align-items: center;
                font-size: $sub-heading-font-size;
                color: $secondary-text-color;
                height: px-to-rem(20);

                &__icon {
                    margin-right: spacing(0.5);
                }

                &__text {
                    font-size: $sub-heading-font-size;
                    color: $secondary-text-color;
                }

                &:empty::before {
                    content: "\00a0";
                    visibility: hidden;
                }
            }
        }

        &__content-text {
            margin: spacing(1) 0;
            font-size: $body-font-size;
            color: $primary-text-color;
            line-height: $line-height;
            max-height: px-to-rem(80);
            overflow: hidden;
            text-overflow: ellipsis;

            &__quote {
                font-size: $sub-heading-font-size;
                color: $secondary-text-color;
                font-style: italic;
                line-height: px-to-rem(25.6);
                display: inline;

                &__opening-quote {
                    font-size: px-to-rem(32);
                    font-weight: bold;
                    color: $primary-text-color;
                    margin-right: px-to-rem(8);
                    vertical-align: text-top;
                    font-family: $font-family-heading;
                }

                &__closing-group {
                    display: inline-flex;
                    align-items: center;
                    margin-left: px-to-rem(4);
                    position: relative;
                    top: px-to-rem(4.8);

                    &__closing-quote {
                        font-size: px-to-rem(32);
                        font-weight: bold;
                        color: $primary-text-color;
                        vertical-align: baseline;
                        font-family: $font-family-heading;
                    }
                }
            }
        }

        &__interactions {
            @include flex-start;
            gap: spacing(1);
            margin-bottom: spacing(1);

            &__like-button {
                @include button-style(none, $primary-text-color);
                padding: 0;
                font-size: $body-font-size;
                display: flex;
                align-items: center;

                &__heart-icon {
                    margin-right: spacing(0.5);
                    font-size: px-to-rem(19.2);
                    transition: color $transitions-base;

                    &--liked {
                        color: $accent-color-2;
                    }
                }

                &__likes-count {
                    font-size: $small-font-size;
                    color: $secondary-text-color;
                }

                &:hover &__heart-icon {
                    color: $accent-color-2;
                }
            }
        }

        &__content__interactions {
            display: flex;
            align-items: center;
            gap: spacing(1);
            margin-bottom: spacing(1);

            &__like-button {
                display: flex;
                align-items: center;
                padding: 0;
                font-size: $body-font-size;

                &__heart-icon {
                    margin-right: spacing(0.5);
                    font-size: px-to-rem(19.2);
                    transition: color $transitions-base;

                    &--liked {
                        color: $accent-color-2;
                    }
                }

                &__likes-count {
                    font-size: $small-font-size;
                    color: $secondary-text-color;
                }

                &:hover &__heart-icon {
                    color: $accent-color-2;
                }
            }

            .icon-only {
                display: flex;
                align-items: center;
                padding: 0;
                font-size: $body-font-size;

                .button-icon {
                    margin-right: spacing(0.5);
                    font-size: px-to-rem(19.2);
                    transition: color $transitions-base;

                    &--liked {
                        color: $accent-color-2;
                    }
                }

                .button-text {
                    font-size: $small-font-size;
                    color: $secondary-text-color;
                }

                &:hover .button-icon {
                    color: $accent-color-2;
                }
            }
        }
    }
}
