// Variables

.home-page-container {
    background-color: var(--primary-bg-color);
    margin: 0 auto;
    min-height: 100vh;
    overflow: visible;
    padding: 2rem;

    // margin-top: -8rem;
    width: 75vw;

    // border-top: white 5rem solid;
    // border-right: 0.05rem solid var(--border-color);

}





@media (width <= 480px) {
    // Add any necessary responsive styles
}
