// Variables

.home-page-container {
    padding: 2rem;
    background-color: $primary-bg-color;
    min-height: 100vh;
    // margin-top: -8rem;
    width: 75vw;
    margin: 0 auto;
    overflow: visible;
    // border-top: white 5rem solid;
    // border-right: 0.05rem solid $border-color;

}





@media (max-width: 480px) {
    // Add any necessary responsive styles
}
