// _image-slide.scss

.image-slider-container {
    position: relative;
    width: 100%;
    margin-top: 2rem;
    margin-left: -10%; // Adjust to center or spill over
    z-index: 2;
    left: 3.5rem;
    box-sizing: border-box; // Ensure padding and borders are included
    top: 3rem;


    .cube-slider {
        width: 100%;
        height: 25rem;

        .cube-slide {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            top: 0; // Removed top offset to prevent gaps
            box-sizing: border-box;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius:1rem 1rem 1rem 1rem;
            }
        }
    }

    @media (max-width: $breakpoint-md) {
        margin-left: 0;
        margin-top: 0;

        .cube-slider {
            height: 200px;
        }
    }
}
