// client/src/scss/pages/profile/_profile-page-container.scss

.profile-page-container {
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    margin-top: -22rem;
    max-width: 80vw;
    padding: $spacing-lg;
    position: relative;
    z-index: 10;

    &__profile-grid {
        display: grid;
        gap: $spacing-lg;
        grid-template-columns: 1fr 1fr 3fr; // Adjust sidebar width as needed

        @media (max-width: $breakpoint-md) {
            grid-template-columns: 1fr;
        }
    }

    &__loading-spinner {
        align-items: center;
        color: var(--primary-text-color);
        display: flex;
        font-size: 1.2rem;
        height: 100vh;
        justify-content: center;
    }

    &__profile-main {
        grid-column: 2;

        @media (max-width: $breakpoint-md) {
            grid-column: 1;
        }
    }
}