//client\src\scss\pages\profile\_profile-page-container.scss

.profile-page-container {
    padding: $spacing-lg;
    max-width: 80vw;
    margin: 0 auto;
    margin-top: -12rem;
    position: relative;
    z-index: 10;
    justify-items: center;
    justify-content: center;

}
