// scss/components/_buttons.scss

@import "../abstracts/variables"; // Import global variables
@import "../abstracts/mixins"; // Import centralized mixins

// Close Button Colors
$close-button-color: $disabled-gray;
$close-button-hover-color: lighten($close-button-color, 20%);

/* Primary Button */
.primary-btn {
   @include button-base($primary-purple, $white, $primary-purple-hover, $border-radius);
}

/* Secondary Button */
.secondary-btn {
   @include button-base(
      $charcoal,
      $white,
      darken($charcoal, 10%),
      // Custom hover color
      $border-radius
   );
}

/* Success Button */
.success-btn {
   @include button-base($success-green, $white, $success-green-hover, $border-radius);
}

/* Danger Button */
.danger-btn {
   @include button-base($bright-red, $white, $bright-red-hover, $border-radius);
}

/* Disabled Button */
.disabled-btn {
   @include button-base(
      $disabled-gray,
      $white,
      $disabled-gray,
      // No hover state for disabled buttons
      $border-radius
   );
   cursor: not-allowed;
}

/* Override Bootstrap defaults */
.btn {
   border: none;
   box-shadow: none;

   &:hover,
   &:focus {
      text-decoration: none;
   }

   &:focus {
      outline: 2px solid $primary-purple;
   }
}

/* Button Group Styling */
.btn-group {
   display: inline-flex;
   .btn {
      margin-left: -1px;
      &:first-child {
         margin-left: 0;
      }
   }
}
