@import "../abstracts/variables";
@import "../abstracts/mixins"; // Ensure your mixins are imported for dropdown customizations

/* Dropdown Container */
.dropdown-container {
   @extend .dropdown; // Apply Bootstrap's dropdown class
   position: relative;
   display: inline-block;
}

/* Toggle Button */
.dropdown-toggle {
   @extend .dropdown-toggle; // Extend Bootstrap's .dropdown-toggle class
   background-color: $white;
   color: $charcoal;
   padding: 0.6rem 2rem;
   border-radius: 0.5rem;
   transition:
      background-color 0.3s ease,
      box-shadow 0.3s ease;
   box-shadow: 0px 4px 8px rgba($electric-violet-light, 0.4);

   &:hover,
   &:focus {
      background-color: rgba($electric-violet, 0.1);
      box-shadow: 0px 6px 12px rgba($electric-violet-light, 0.6);
      outline: none;
      color: $white;
      text-shadow:
         0 0 10px $white,
         0 0 20px $white,
         0 0 30px $white;
   }

   &:focus {
      box-shadow: none;
   }
}

/* Dropdown Menu */
.dropdown-menu {
   @include dropdown-menu-base($white, $charcoal, rgba($electric-violet, 0.1), rgba($electric-violet-light, 0.4));
   @extend .dropdown-menu; // Apply Bootstrap's dropdown menu styles

   &.show {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
   }

   &:hover {
      opacity: 1;
      visibility: visible;
      transform: translateY(0); /* Keep dropdown open while hovered */
   }
}

/* Dropdown Items */
.dropdown-item {
   @extend .dropdown-item; // Apply Bootstrap's dropdown item styles
   color: $charcoal;
   padding: 0.4rem 0.9rem;
   border-radius: 0.5rem;
   transition:
      color 0.3s ease,
      background-color 0.3s ease,
      box-shadow 0.3s ease;

   &:hover {
      background-color: rgba($electric-violet, 0.1);
      color: $white;
      box-shadow: 0px 6px 12px rgba($electric-violet, 0.6);
   }
}
