@import "../abstracts/variables";
@import "../abstracts/mixins";

/* Toasts */
.toast {
   background-color: $white; // Background color of the toast
   color: $charcoal-light; // White text color
   padding: 1rem 1.5rem; // Adequate padding for the toast
   border-radius: $border-radius; // Rounded corners
   box-shadow: 0 2px 10px rgba($electric-violet-light, 0.2); // Light shadow
   font-size: $font-size-base; // Base font size
   max-width: 90%; // Ensure the toast doesn’t get too wide on large screens
   display: flex; // Flexbox for toast content
   align-items: center; // Center toast content vertically
   gap: 0.5rem; // Space between icon and text
   z-index: 3100;
   transition:
      opacity 0.5s ease,
      transform 0.5s ease;

   @media (max-width: $breakpoint-md) {
      padding: 0.5rem;
   }

   @media (max-width: $breakpoint-sm) {
      padding: 0.5rem;
   }
}

.toast--show {
   opacity: 1;
   transform: translateY(0); // Reset transform on show
}

.toast--hide {
   opacity: 0;
   transform: translateY(-1rem); // Slight upward movement when hiding
}
// Keyframes for fade animations
@keyframes fadeIn {
   from {
      opacity: 0;
      transform: translate(-50%, -40%);
   }
   to {
      opacity: 1;
      transform: translate(-50%, -50%);
   }
}

@keyframes fadeOut {
   from {
      opacity: 1;
      transform: translate(-50%, -50%);
   }
   to {
      opacity: 0;
      transform: translate(-50%, -40%);
   }
}
