@import "../abstracts/variables"; // Import global variables
@import "../abstracts/mixins"; // Import centralized mixins

// Sidebar Container
.nav-container {
   position: fixed;
   top: 0;
   left: 0;
   width: 0;
   height: 100vh;
   z-index: 900;
   @include transition-all(0.3s, ease);

   &.open {
      width: 15vw; // Sidebar expands to 15% of viewport width
   }

   @media (max-width: $breakpoint-md) {
      &.open {
         width: 60vw; // Wider on smaller screens
      }
   }

   @media (max-width: $breakpoint-sm) {
      &.open {
         width: 80vw; // Almost full width for very small screens
      }

      @media (min-width: $breakpoint-lg) {
         .sidebar-open {
            width: 17vw; // Increase width slightly on larger screens
         }
      }
   }

   .page-container {
      @include transition-all(0.3s, ease);
   }
}

// Sidebar Styling
.nav {
   background: rgba(255, 255, 255, 0.1);
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
   border-right: 1px solid rgba(255, 255, 255, 0.18);
   width: 15vw;
   padding-top: 20vh;
   padding-left: $spacing-small;
   height: 100vh;
   position: fixed;
   top: 0;
   left: -15vw;
   z-index: 900;
   box-shadow: $box-shadow-light;
   @include transition-all(0.3s, ease);

   &.open {
      left: 0;
   }

   // Sidebar list styling
   ul {
      list-style: none;
      padding: 0;

      li {
         margin-bottom: $spacing-large;

         a {
            text-decoration: none;
            @include font-default($font-size-large, $font-weight-regular, $font-primary);
            color: $charcoal;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            padding: $spacing-small $spacing-medium;
            position: relative;
            @include transition-all(0.3s, ease);

            .nav-icon {
               margin-right: $spacing-small;
               font-size: 1.8rem;
               color: $primary-purple;
               @include transition-all(0.3s, ease);
            }

            &::after {
               content: "";
               position: absolute;
               bottom: 0;
               left: 0;
               width: 0%;
               height: 2px;
               background-color: $primary-purple;
               @include transition-all(0.3s, ease);
            }

            &:hover {
               color: $primary-purple;

               &::after {
                  width: 100%;
               }

               .nav-icon {
                  transform: translateX(5px);
                  color: $primary-purple-hover;
               }
            }

            &.active {
               color: $primary-purple;

               &::after {
                  width: 100%;
               }
            }
         }
      }
   }

   // Responsive Styling
   @media (max-width: $breakpoint-lg) {
      width: 20vw;
      left: -20vw;

      &.open {
         left: 0;
      }
   }

   @media (max-width: $breakpoint-md) {
      width: 60vw;
      left: -60vw;

      &.open {
         left: 0;
      }
   }

   @media (max-width: $breakpoint-sm) {
      width: 80vw;
      left: -80vw;

      &.open {
         left: 0;
      }
   }
}
