// _buttons.scss

// Base Button Styles
.button {
    align-items: center; // Vertically center items
    background-color: transparent; // No background by default for non-icon buttons
    border: 1px solid transparent; // Default border
    border-radius: $button-border-radius;
    box-shadow: none; // Remove box-shadow for a clean look
    color: var(--primary-text-color); // Default text color
    cursor: pointer; // Pointer cursor on hover
    display: flex; // Flex layout for icon and text alignment
    font-family: $font-family-primary; // Consistent font family
    font-size: $base-font-size; // Base font size
    font-weight: 500; // Medium font weight for prominence
    height: 40px; // Increased height for better click area
    justify-content: center; // Center align text and icons
    letter-spacing: 0.1px; // Subtle letter spacing for readability
    max-width: 100%; // Allow buttons to take full width of their container
    padding: map.get($button-padding, md); // Medium padding
    text-transform: none; // No text transformation for a modern feel
    transition:
        background-color 0.3s ease,
        // Reduced transition duration
        color 0.3s ease,
        opacity 0.3s ease; // Smooth and subtle transitions

    width: auto; // Adjust width based on content

    &:hover {
        background-color: rgb(255 255 255 / 60%); // Slightly more opaque on hover
        opacity: 1; // Fully opaque on hover
    }

    &:active {
        background-color: rgb(255 255 255 / 70%); // Even more opaque on click
    }

    &:disabled,
    &.button-disabled {
        background-color: rgb(255 255 255 / 5%); // Maintain translucent background
        color: var(--primary-text-color-disabled); // Lighter text color when disabled
        cursor: not-allowed; // Indicate disabled state
        opacity: 0.5; // Reduced opacity when disabled
    }

    .button-icon {
        align-items: center;
        display: inline-flex;
        margin-right: 0.5rem; // Space between icon and text
    }
}

// Icon-Only Button Modifier
.icon-only {
    height: 40px; // Fixed height
    padding: 0; // Remove padding
    width: 40px; // Fixed width
    .button-icon {
        margin-right: 0; // Remove margin
    }
}

// Button Variants with No Background by Default and Colored on Hover/Active
.button-profile {
    &:hover {
        background-color: rgba(silver, 0.2);
    }

    &:active {
        background-color: rgba(silver, 0.4);
    }
}

.button-edit {
    &:hover {
        background-color: rgba(silver, 0.2);
    }

    &:active {
        background-color: rgba(silver, 0.4);
    }
}

.button-create,
.button-feather {
    color: $success-color;

    &:hover {
        background-color: rgba($success-color, 0.2);
    }

    &:active {
        background-color: rgba($success-color, 0.4);
    }
}

.button-post {
    color: var(--accent-color-1);

    &:hover {
        background-color: rgba(var(--accent-color-1), 0.2);
    }

    &:active {
        background-color: rgba(var(--accent-color-1), 0.4);
    }
}

.button-submit {
    color: silver;

    &:hover {
        background-color: rgba(silver, 0.2);
    }

    &:active {
        background-color: rgba(silver, 0.4);
    }
}

.button-login {
    color: var(--primary-bg-color);

    &:hover {
        background-color: rgba(var(--primary-bg-color), 0.2);
    }

    &:active {
        background-color: rgba(var(--primary-bg-color), 0.4);
    }
}

.button-logout {
    color: var(--error-color);

    &:hover {
        background-color: rgba($error-color, 0.2);
    }

    &:active {
        background-color: rgba($error-color, 0.4);
    }
}

.button-delete {
    color: var(--error-color);

    &:hover {
        background-color: rgba($error-color, 0.2);
    }

    &:active {
        background-color: rgba($error-color, 0.4);
    }
}

.button-success {
    color: $success-color;

    &:hover {
        background-color: rgba($success-color, 0.2);
    }

    &:active {
        background-color: rgba($success-color, 0.4);
    }
}

.button-warning {
    color: $warning-color;

    &:hover {
        background-color: rgba($warning-color, 0.2);
    }

    &:active {
        background-color: rgba($warning-color, 0.4);
    }
}

.button-info {
    color: $info-color;

    &:hover {
        background-color: rgba($info-color, 0.2);
    }

    &:active {
        background-color: rgba($info-color, 0.4);
    }
}

.button-settings,
.button-settings2 {
    align-items: center;
    color: var(--primary-text-color);
    cursor: pointer;
    display: flex;
    justify-content: center;

    &:hover {
        background-color: rgba(silver, 0.2);
    }

    &:active {
        background-color: rgba(silver, 0.4);
    }
}

// Add Secondary Button Variant for Consistent Styling in Edit Form
.button-secondary {
    color: var(--secondary-bg-color);

    // border: 1px solid var(--secondary-bg-color);

    &:hover {
        background-color: rgba(var(--secondary-bg-color), 0.2);
    }

    &:active {
        background-color: rgba(var(--secondary-bg-color), 0.4);
    }
}

// _buttons.scss

.close-button {
    @include close-button;

    align-items: center;
    color: var(--primary-text-color);
    cursor: pointer;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    padding: $spacing-xs;
    position: absolute; // Change from relative to absolute
    right: 1rem; // Position from the right
    top: 1rem; // Position from the top
    transition:
        color 0.2s ease,
        background-color 0.2s ease; // Ensure smooth transitions

    z-index: 1070; // Ensure it's above other elements

    &:hover {
        background-color: transparent; // Remove background changes to prevent flashing
        color: var(--accent-color-2);
    }

    &:active {
        background-color: transparent;
        color: var(--highlight-color-dark10);
    }

    .button-icon {
        color: inherit;
    }
}

// Responsive adjustments for mobile
@media (max-width: $breakpoint-md) {
    .button {
        font-size: clamp(0.875rem, 1vw, $body-font-size); // Adjust font size responsively
        height: clamp(32px, 3vw, 40px); // Responsive height
        justify-content: center; // Center align text and icons
        padding: map.get($button-padding, sm); // Small padding for smaller screens
        width: 100%; // Full width on mobile
    }

    // Ensure all button variants take full width on mobile
    .button-profile,
    .button-edit,
    .button-create,
    .button-post,
    .button-submit,
    .button-login,
    .button-delete,
    .button-success,
    .button-warning,
    .button-info,
    .button-settings,
    .button-secondary,
    .icon-only {
        justify-content: center; // Center align text and icons
        max-width: 100%; // Override any max-width restrictions
    }
}

.filter-icon,
.search-icon {
    background: none;
    border: none;
    color: var(--primary-text-color);
    cursor: pointer;
    font-size: 1.3rem;
    transition: color 0.3s ease;

    &:hover {
        color: var(--accent-color-2);
    }
}
