@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../abstracts/functions";
@import "../base/animations";

// Register Modal Container
.register-modal-container {
   @include modal-base($bg-color: rgba($charcoal, 0.5), $backdrop-blur: 10px, $webkit-backdrop-blur: 10px);
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 3000;
   opacity: 0;
   visibility: hidden;
   transition:
      opacity 0.4s ease,
      visibility 0.4s ease;

   &.open {
      opacity: 1;
      visibility: visible;
   }

   &.closed {
      opacity: 0;
      visibility: hidden;
   }
}

// Register Modal
.register-modal {
   @include card-base($white, $box-shadow-light, $spacing-m, $border-radius-large);
   max-width: 50%;
   width: 90%;
   z-index: 6000;
   position: relative;
   height: auto;
   transition:
      opacity 0.4s ease,
      transform 0.4s ease;

   @media (max-width: $breakpoint-md) {
      width: 95%;
      max-width: 600px;
   }

   @media (max-width: $breakpoint-sm) {
      width: 100%;
      max-width: 500px;
      max-height: 90vh;
      overflow-y: auto;
   }
}

// Register Modal Header
.register-modal-header {
   @include flex-container(center, center);
   padding: $spacing-m;
   background-color: $primary-purple;
   position: relative;
   color: $white;

   .close-button {
      position: absolute;
      top: 50%;
      right: $spacing-l;
      transform: translateY(-50%);
      font-size: 1.5rem;
      color: $white;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
         color: $close-button-hover-color;
      }
   }

   .register-modal-title {
      @include font-default($font-size-large, $font-weight-regular, $font-primary);
      text-align: center;
      letter-spacing: 0.2rem;
   }
}

// Register Modal Body with tighter spacing
.register-modal-body {
   padding: $spacing-s; // Smaller padding inside the modal
   padding-top: 2rem;
   background-color: $white;
   border-radius: $border-radius;
   transition: all 0.3s ease;
   overflow-y: auto;
   max-height: 70vh;

   .form-row {
      display: grid;
      grid-template-columns: 1fr 1fr; // Two columns
      gap: $spacing-l; // Smaller gap between columns and rows

      @media (max-width: $breakpoint-sm) {
         grid-template-columns: 1fr; // Single column layout on smaller screens
      }
   }

   .form-column {
      display: flex;
      flex-direction: column;
      gap: $spacing-xs; // Consistent smaller spacing between fields within columns
   }
}

.register-submit-container {
   display: flex;
   justify-content: center;
   margin-top: $spacing-xl;
}

.register-submit-btn {
   @include button-base($primary-purple, $white, darken($primary-purple, 10%), $border-radius);
   padding: 0.75rem 1.25rem;
   font-size: $font-size-base; // Match the font size with the inputs
   text-transform: uppercase;
   letter-spacing: 2px;
   display: flex;
   justify-content: center;
   max-width: 35%;
   margin-top: -2rem;

   &:disabled {
      background-color: $disabled-gray;
      cursor: not-allowed;
   }
}
