/* blogg-container */
.blogg-container {
  position: fixed;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 2000px !important;
  height: 850px !important;
  overflow-y: auto;
  background-color: #9b30ff;
  border: 2px solid #000000;
  padding: 40px;;
  left: 280px;
  bottom: -104px;
}
.blog-posts-wrapper {
  flex-grow: 1;
  overflow-y: auto;
}
.blog-posts {
  display: flex;
  flex-direction: column; 
  gap: 20px; 
  width: 100%; 
  margin-top: 400px;
}
.bloggs-post-section {
  border: 3px solid #000000;
  border-radius: 30px;
  overflow: hidden;
}
.bloggs-body {
  padding: 20px;
  background-color: #f8f8ff;
}
.bloggs-card-title {
  display: inline-block; 
  width: 50px; 
  height: 50px; 
  line-height: 40px; 
  text-align: center;
  font-size: 15px;
  font-weight: bold; 
  color: #ffffff; 
  border-radius: 50%;
  border: 2px solid #000000;
  background-color: #000080;
  padding: 5px; 
  box-sizing: border-box;
  margin-right: 30px;
}
.bloggs-card-text {
  display: inline-block;
  flex: 1;
  font-size: 16px;
  color: #000000;

}
.bloggs-card-footer {
  background-color: #000080;
  border-top: 1px solid #000000;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.bloggs-likes{
  /* margin-right: 90%; */
  color: #ffffff;
}

/* Like button */
.like-button {
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  transition: background-color 0.3s ease;
  margin-left: 30px; 
}
.like-button::before {
  content: '👍';
  font-size: 24px; 
  margin-right: 5px;
}
.like-button:hover {
  background-color: #009900;
}
.blog-author,
.blog-date {
  font-size: 14px;
  color: #f8f8ff;
  margin-left: 1050%;
}

/* Comments section */
.bloggs-comments{
  margin-top: 0px;
  padding: 5px;
  background-color: #f8f8ff;
}
.bloggs-comment-form {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 25px;
}
.bloggs-form-control{
  width: 100%;
}
.bloggs-submit-bttn{
    background-color: #9b30ff;
    color: #000000; 
    border: 2px solid #000000; 
    border-radius: 25px; 
    font-weight: bold;
    font-size: 15px;
    width: 5%;
    margin-left: 45%;
}
/* No blog posts available */
.no-blog-posts {
  font-size: 16px;
  color: #000000;
  text-align: center;
  margin-top: 20px;
}