/* Container styles to center the card container vertically and horizontally */
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* Styles for the card container */
.card-container {
  width: 550px;
  height: 450px;
  background-color: #c0c5c5;
  border: 5px solid #0f0404;
  border-radius: 40px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: absolute;
  top: 40%;
  left: 62%;
  transform: translate(-50%, -50%);
}
.card-header {
  margin-bottom: 5px;
  font-size: 50px;
  text-align: center;
}
.input-container {
  margin-bottom: 30px;
}
.input-container input {
  width: 100%;
  padding: 25px;
  border: 1px solid #000000;
  border-radius: 30px;
  transition: all 0.3s ease;
}
.input-container input::placeholder {
  text-align: center;
  color: #000000;
  font-weight: bold;
  font-size: 25px;
}
.form-group {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
.form-group input[type="submit"] {
  background-color: rgb(44, 175, 204);
  color: #000000; 
  border: 1px solid #000000; 
  border-radius: 30px; 
  font-weight: bold;
  font-size: 24px;
  width: 50%;
  padding: 15px;
}
