.logo-image {
  position: absolute;
  top: 24%;
  left: 61%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
/* Container for layout, positioned relatively */
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* Card container with dimensions and styling */
.card-container {
  width: 550px;
  height: 450px;
  background-color: #9B30FF;
  border: 5px solid #0f0404;
  border-radius: 40px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: absolute;
  top: 55%;
  left: 62%;
  transform: translate(-50%, -50%);
}
/* Card header with margin bottom and font size */
.card-header {
  margin-bottom: 5px;
  font-size: 50px;
  text-align: center;
}
/* Input container with margin bottom */
.input-container {
  margin-bottom: 30px;
}
/* Input element with width, padding, border */
.input-container input {
  width: 100%;
  padding: 25px;
  border: 3px solid #000000;
  border-radius: 30px;
  transition: all 0.3s ease;
}
/* Placeholder text styling for input element */
.input-container input::placeholder {
  text-align: center;
  color: #000000;
  font-weight: bold;
  font-size: 25px;
}
/* Form group with margin top and centered display */
.form-group {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
/* Submit button with background color, border, font */
.form-group input[type="submit"] {
  background-color: #F8F8FF;
  color: #000000; 
  border: 3px solid #000000; 
  border-radius: 30px; 
  font-weight: bold;
  font-size: 24px;
  width: 50%;
  padding: 15px;
}
/* Register link with cursor style, text decoration, and font */
.register-link {
  cursor: pointer;
  color: #000000;
  text-decoration: underline;
  font-size: 25px;
  font-weight: bold;
}
/* Toast styling */
.custom-toast {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}
.toast-body {
  background-color: #f8d7da; /* Red background */
  color: #721c24; /* Red text color */
}
