.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 5px;
  background-color: #08c8d2; /* Example background color */
  border-bottom: 3px solid #000000; /* Example border color */
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar img {
  margin-left: 80px;
  width: 150px; 
  height: 150px;
  transform: scale(2.5);
}

.nav-container {
 background-color: #08c8d2;
 border-right: 3px solid #060303; /* Example border color */
 width: 250px;
 height: 1000px;
}

.nav {
 align-items: center;
}
