.network-container {
    width: 1600px;
    height: fit-content;
    margin: 145px auto; 
    padding: 20px;
    margin-right: 15px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust column width */
    gap: 20px;
}

.network-card {
    flex: 1 1 calc(33.333% - 40px); /* Adjust card width and spacing */
    margin: 10px; /* Additional margin to ensure spacing if needed */
    padding: 20px;
    border-radius: 8px;
    max-width: 300px; /* Optional: limit the maximum width of each card */
    width: fit-content;
}

.network-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #000000;
    border-radius: 30px;
    background-color: #ffffff;
    
}

.initials {
    background-color: #9B30FF;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-top: 5px;
    margin-left: 5px;
}

.user-info h5 {
    margin: 50;
    font-size: 20px;
    font-weight: bold;
}

.user-info p {
    margin: 5px 0;
}

.top-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
}

.initials {
    background-color: #007bff;
    color: white;
    font-size: 24px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 20px;
}

.user-info {
    flex: 1;
}

.user-info h5 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.user-info p {
    margin: 5px 0;
}

.user-status {
    margin-top: 5px;
    font-style: italic;
}

.recent-post {
    margin-top: 20px;
    margin-bottom: 5px;
}

.recent-post h6 {
    margin: 0 0 10px 0;
}
