.network-container {
    width: 1600px;
    height: fit-content;
    margin: 145px auto; 
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px;
    background-color: #9B30FF;
    margin-right: 20px;
}

.network-card {
    margin: 10px;
    padding: 5px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%; 
    height: 350px; 
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    border: 3px solid #000000;
    border-radius: 30px;
    background-color: #ffffff;
}

.network-card-body {
    flex: 1; 
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto; 
}

.initials {
    background-color: #007bff;
    color: white;
    font-size: 24px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 20px;
}

.user-info {
    margin-bottom: 10px;
}

.user-info h5 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.user-info p {
    margin: 5px 0;
}

.user-status {
    font-style: italic;
    margin-top: auto; 
}

.recent-post {
    margin-top: 10px;
}

.recent-post h6 {
    margin: 0;
}
