.reg-logo-image {
  position: absolute;
  top: 10%;
  left: 49%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
/* Centered registration form container */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* Registration container with gray background and rounded corners */
.register-card-container {
    width: 800px;
    height: 700px;
    background-color: #c0c5c5;
    border: 5px solid #0f0404;
    border-radius: 40px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Centered registration form header */
.register-card-header {
    margin-bottom: 5px;
    font-size: 50px;
    text-align: center;
}
/* Input field container with space between columns */
.register-input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
/* Input field column width */
.register-input-column {
    width: 55%; 
}
/* Input field container div margin */
.register-input-container > div {
    margin-bottom: 30px;
}
/* Input field styling */
.register-input-container input {
    width: calc(100% - 40px);
    padding: 30px;
    border: 1px solid #000000;
    border-radius: 30px;
    transition: all 0.3s ease;
}
/* Input field placeholder styling */
.register-input-container input::placeholder {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #000000;
    font-size: 25px;
}
/* Form group container for submit button */
.register-form-group {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
/* Submit button styling */
.register-form-group input[type="submit"] {
    background-color: rgb(44, 175, 204);
    color: #000000; 
    border: 1px solid #000000; 
    border-radius: 30px; 
    font-weight: bold;
    font-size: 30px;
    width: 50%;
    padding: 20px;
}
