@use "sass:math";

// Function for Rem Conversion
@function px-to-rem($px) {
    $base: 16;  // Remove px unit
    $value: $px / $base;  // Simple division of numbers
    @return #{$value}rem;  // Interpolate and add rem unit
}

// Function for Calculating Lightness Adjustments
@function adjust-color-lightness($color, $percent) {
    @return lighten($color, $percent);
}

// Function for Border Radius
@function border-radius($radius: $border-radius) {
    @return $radius;
}

// Function for Spacing Units
@function spacing($multiplier) {
    @return $spacing-unit * $multiplier;
}

@function luminance($color) {
    $r: color.channel($color, "red", $space: rgb);
    $g: color.channel($color, "green", $space: rgb);
    $b: color.channel($color, "blue", $space: rgb);
    // Rest of the function...
}

// Function for Color Channel
@function get-color-channel($color, $channel) {
    @if $channel == "red" {
        @return red($color);
    } @else if $channel == "green" {
        @return green($color);
    } @else if $channel == "blue" {
        @return blue($color);
    }
    @return 0;
}

// Utility Functions
@function modal-spacing($key) {
    @return map-get($modal-spacing, $key);
}

@function modal-dimension($key) {
    @return map-get($modal-dimensions, $key);
}

@function get-z-index($key) {
    @return map-get($z-indices, $key);
}
