// src/styles/_reset.scss

/* Reset Browser Defaults */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app-layout {
    background-color: color.adjust($primary-bg-color, $lightness: 5%);
}

/* Links */
a {
    color: $accent-color-2;
    font-weight: 600;
    text-decoration: none;

    &:hover {
        color: adjust-color-lightness($accent-color-2, 10%);
        text-decoration: underline;
    }
}

/* Scrollbar Styles */

/* Override SimpleBar styles for a minimalistic scrollbar */

.app-scrollbar {
    /* Ensure the scrollbar spans the entire viewport */
    height: 100vh;

    /* Optional: Smooth scrolling */
    scroll-behavior: smooth;
    width: 100vw;

    /* Hide the default scrollbar track */
    .simplebar-track {
        background: transparent !important;
    }

    /* Customize the scrollbar thumb */
    .simplebar-scrollbar::before {
        background-color: rgba($primary-text-color, 0.6) !important;
        border-radius: 8px !important;
        width: 8px !important;
    }

    /* Hover effect for the scrollbar thumb */
    .simplebar-scrollbar:hover::before {
        background-color: rgba($primary-text-color, 0.8) !important;
    }
}

/* Optional: Hide scrollbar on touch devices */
@media (hover: none) and (pointer: coarse) {
    .app-scrollbar {
        .simplebar-scrollbar::before {
            display: none !important;
        }
    }
}

/* Firefox */
body {
    scrollbar-color: rgba($primary-text-color, 0.6) transparent !important;
    scrollbar-width: thin !important;
}

/* Responsive Typography */
h1 {
    @include heading-style($heading-font-size-xxlg);
}

h2 {
    @include heading-style($heading-font-size-md, $heading-font-size-sm);

    font-family: $font-family-heading;
}

h3,
h4 {
    @include heading-style($sub-heading-font-size);
}

p {
    font-size: $body-font-size;
    margin-bottom: $spacing-unit;
}

/* Reactive Loading Skeleton */
.skeleton {
    animation: pulse 1.5s infinite ease-in-out;
    background-color: $secondary-bg-color;
    border-radius: $border-radius;
    height: 1rem;
    width: 100%;
}

.back-to-top {
    background: #333;
    border: none;
    border-radius: 50%;
    bottom: 20px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    opacity: 0.7;
    position: fixed;
    right: 20px;
    text-align: center;
    transition: opacity 0.3s;
    width: 40px;

    &:hover {
        opacity: 1;
    }
}