/* Reset Browser Defaults */
// *,
// *::before,
// *::after {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

html,
body {
    height: 100%;
    font-family: $font-family-primary;
    background-color: $secondary-bg-color;
    color: $primary-text-color;
    line-height: $line-height;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Links */
a {
    text-decoration: none;
    font-weight: 600;
    color: $accent-color-2;

    &:hover {
        color: adjust-color($accent-color-2, $lightness: -10%);
        text-decoration: underline;
    }
}

/* Images */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Buttons */
button {
    font-family: inherit;
    cursor: pointer;
}

/* main.scss or a specific component's SCSS file */

/* WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: $secondary-bg-color; /* Use your background color variable */
}

::-webkit-scrollbar-thumb {
    background-color: $primary-text-color; /* Use your primary text color variable */
    border-radius: 10px;
    border: 3px solid $secondary-bg-color; /* Match the track background */
}

::-webkit-scrollbar-thumb:hover {
    background-color: adjust-color($primary-text-color, $lightness: -10%);
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: $primary-text-color $secondary-bg-color;
}
